*{
    margin: 0;
    padding: 0;
}


.heading{
    margin: 3rem;
    font-size: 25px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

img{
    width: 145px;
    height: 200px;
}

.btn{
    padding: 10px;
    margin: 20px;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    background-color: seagreen;
    color: #fff;
    border-radius: 0.9rem;
}

.btn:hover{
    background-color: rgb(31, 160, 26);
    color: #fff;
    transition: 0.3s ease-in-out;
}