*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.heading{
    text-align: center;
    margin: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;  
    color: rgb(241, 241, 241);
}

.inputDisplay {
    display: flex;
    align-items: center;
    justify-content: center;
}


p{
    text-align: center;
    font-size: 35px;
    padding: 15px;
    border: 1px solid white;
    background: #fff;
    border-radius: 5px;
}

#input{
    width: 200px;
    height: 50px;
}

.container{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    margin: 0;
    position: relative;
    top: 0%;
    padding: 5px;
    max-width: 500px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.btn{
    padding: 8px;
    display: inline-block;
    background-color: teal;
    border-radius: 0.5rem;
    color: #fff;
}

.btn:hover{
    background-color: rgb(110, 165, 0);
    color: #fff;
}

.btn-2{
    padding: 8px;
    display: inline-block;
    background-color: tomato;
    border-radius: 0.5rem;
    color: #fff;
}

.btn-2:hover{
    background-color: red;
    color: #fff;
}